body {
	margin: 0;
	font-family: sans-serif;
}

/* Status Bar
**************************/
#status-bar {
	background-color: gray;
	color: white;
	height: 50px;
	padding: 0 15px;
	font-size: 20px;
	line-height: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

#status-bar > div {
	margin: 15px auto;
}

#status-bar > #start-button {
	border: 1px solid white;
	border-radius: 5px;
	height: 30px;
	margin: 10px auto;
	box-sizing: border-box;
	padding: 4px;
	font-weight: bold;
	background-color: rgb(211, 31, 58);
	cursor: pointer;
	flex-basis: 33%;
}

#status-bar .timer {
	margin-left: 17%;
}

#status-bar > #undo {
	flex-basis: 20%;
	margin-right: 13%;
	border: 1px solid white;
	border-radius: 3px;
	padding: 3px;
	box-sizing: border-box;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
}


/* Athletes
**************************/

.athlete {
    background-color: steelblue;
    height: 50px;
    margin: 5px;
	padding: 0 10px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
	display: flex;
	flex-direction: row;
	cursor: default;
}

.athlete > div {
    margin: 15px auto;
}

.athlete.leader {
	background-color: green;
}

.athlete.bell {
    border: 2px solid gold;
}

.athlete.finishing {
    border: 2px solid black;
}

.athlete.lapped {
	background-color: red;
}

.info {
	flex-basis: 50%;
}

.timer,
#start-button {
	text-align: center;
	flex-basis: 20%;
}

.laps {
	text-align: right;
	flex-basis: 30%;
}

/* Forms
**************************************/
form {
	margin: 5px 10px;
}

h2 {
	margin: 0 10px 5px;
	font-size: 20px;
}

label, .error {
	margin: 0 5px 0 10px;
}

input {
	margin: 0 10px 0 5px;
	width: 100px;
}

input[type="number"] {
	width: 50px;
}

.error {
	color: red;
}

/* Results
**************************************/

#results {
	margin: 15px 5px;
}

#results h2 {
	text-align: center;
}

#results ol {
	list-style: none;
	padding-left: 10px;
}

#results .place {
	width: 25px;
	display: inline-block;
}

#results .name {
	width: 150px;
	display: inline-block;
}

#results .time {
	display: inline-block;
}

/* Transitions
**************************************/
.queue-enter {
  opacity: 0.01;
  transition: opacity .5s;
}

.queue-enter-active {
    opacity: 1;
}

.queue-leave {
    opacity: 0.1;
    height: 0;
    transition:
        height .5s,
        opacity .5s;

}

/* Tutorial
**************************************/
#tutorial {
	position: absolute;
	z-index: 10;
	width: 200px;
	max-width: 100%;
	background-color: rgba(128, 128, 128, 0.7);
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px;
}

#next-button {
	background-color: steelblue;
	border: 1px solid white;
	border-radius: 3px;
	padding: 3px;
	float: right;
}
